.container1 {
    background-image: url("background.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container2 {
    background-image: linear-gradient(to right, blue, rgb(253, 250, 250), rgb(243, 0, 0));
    height: 540px;
}